* {
  box-sizing: border-box;
}

body { 
  background: gray;
}

header {
  display: flex;
  width: 100%;
  height: 300px;
  background: url('../assets/background.jpg'), no-repeat;
  background-size: cover;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 3em;
  color: white;
  font-family: 'Lato';
  font-size: 1em;
  flex-direction: column;
}

h2 {
  letter-spacing: 1em;
  font-size: 0.7em;
}
.posts {
  display: flex;
  flex-direction: column;  
}

section {
  display: flex;
  width: 52%;
  height: 200px;
  background: lightgray;
  padding: 0;
  margin-right: 0;
  margin-left: 10px;
  float: left;
  flex-direction: column;
}

#submit {
  display: flex;
  background: rgba(0, 80, 255, 1);
  width: 25%;
  height: 3em;
  margin-left: 10px;  
  align-content: center;
  justify-content: center;
  color: white;
  font-family: 'Lato';
  font-style: bold;
  text-transform: uppercase;
  
}


a {
  font-size: 1em;
  color: black;
  margin-top: 10px;
  font-style: bold;
  text-decoration: none;
}

textarea {
  width: 90%;
  height: 3em;
}

input {
  width: 90%;
  height: 3em;
}
