body{
    justify-content: center;
    display: flex;
}

#layout{
    width: 960px;
    height: 100%;
    padding: 35px;
    border: 5px solid black;
    border-radius: 10px;
    position: relative;
}
.line{
    position: absolute;
    width: 100%;
    top: 15px;
    border: solid black 2.5px;
    left: 0;
}
#header{
    height: 60px;
    width: 100%;
    background:  rgb(176, 42, 255);
}

.navigation{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.item{
    min-width: 10px;
    background: rgb(42, 234, 255);
    margin: 0px 8px 0 10px;
}

.one{
    height: 35px;
    width: 110px;
}

.two{
    height: 35px;
    width: 85px;
}

.three{
    height: 35px;
    width: 100px;
}

#content{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    margin: 0 auto;
}

#main{
    width: 70%;
    height: 500px;
    background: rgb(255, 214, 42);
}

#sidebar{
    width: 30%;
    height: 500px;
    background: rgb(81, 212, 0);
}