*{
    margin: 0;
}

@media screen and (max-width: 600px) {
    .container{
        flex-direction: column;
    }
    .item{
        width: 100%;
    }
}

.container{
    display: flex;
    align-items: center;
    height: 200px;
    width: 100%;
    max-width: 960px;
    margin: 0, auto;
    justify-content: center;
}

.item{
    height: 100px;
}

.green{
    background: rgb(81, 212, 0);
    flex-grow: 1;
  }

.yellow{
    background: rgb(255, 214, 42);
    flex-grow: 2;
}

.purple{
    background: rgb(176, 42, 255);
    flex-grow: 1;
}

