body {
  display: flex;
  width: 100%;
  height: 960px;
}

.container {
  display: flex;
  width: 100%;
  height: 800px;
  background: black;
  align-content: center;
  justify-content: center;
}
.left {
  display: inline-flex;
  width: 45%;
  height: 100%;
  padding: 0;
  margin: 0;
  background: grey;
  flex-direction: column;
}
.right {
  display: inline-flex;
  width: 45%;
  height: 100%;
  padding: 0;
  margin: 0;
  background: yellow;
}

.logo {
  width: 100px;
  height: 100px;
  background: url('../fox_player_project/img/foxplayer.png'), no-repeat;
}

.photos {
  display: flex;
}

.placeholder {
  width: 200px;
  height: 200px;
  background: url('../fox_player_project/img/music-placeholder.png'), no-repeat;
  background-size: cover;
}

ul {
  text-decoration: none;
}
