body {
  display: flex;
  width: 100%;
  height: 500px;
}

.container {
  display: flex;
  width: 100%;
  height: 500px;
  background: white;
  align-content: center;
  justify-content: center;
  position: relative;
}
.left {
  display: inline-flex;
  width: 45%;
  height: 100%;
  padding: 0;
  margin: 0;
  background: grey;
  flex-direction: column;
}
.right {
  display: inline-flex;
  width: 50%;
  height: 100%;
  padding: 0;
  margin: 0;
  background: lightgray;
  flex-direction: column;
}

.photos {
  justify-content: space-between;
  display: flex;
  height: 100px;
}

.logo {
  width: 100px;
  height: 100px;
  background: url('../fox_player_project/img/foxplayer.png'), no-repeat;
  background-size: cover;
  align-items: center;
}

.placeholder {
  width: 200px;
  height: 200px;
  background: url('../fox_player_project/img/music-placeholder.png'), no-repeat;
  background-size: cover;
  opacity: 0.7;
}

h1 {
  display: inline-flex;
  margin-top: 60px;
  margin-bottom: 20px;
  padding-top: 0;
}

h1 i:before {
  padding-left: 45px;
}

.leftmenu {
  display: inline-flex;
  width: 100%;
  height: 250px;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  list-style: none;
  background: white;
  flex-direction: column;
}

li {
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

li:nth-child(even) {
  background: lightgray;
}

.actualsong {
  display: flex;
  width: 100%;
  height: 100px;
  font-weight: bold;
  align-items: center;
  justify-content: space-between;
}

.actualsong i:after {
  width: 10px;
  height: 10px;
  background: url('../fox_player_project/img/star.svg') no-repeat;
}

.tracklist {
  display: flex;
  width: 100%;
  height: 350px;
  margin: 0;
  padding: 0;
  list-style-type: decimal;
  background: white;
  flex-direction: column;
  overflow: scroll;
  opacity: 0.7;
}

.tracklist li {
  display: flex;
  width: 100%;
  height: 50px;
  margin: 0;
  padding: 0;
  align-items: center;
  flex-shrink: 0;
}

.controll_panel, main:after {
  display: inline-flex;
  width: 100%;
  height: 70px;
  padding: 0;
  margin: 0;
  background: lightgrey;
  position: absolute;
  align-items: center;
  justify-content: space-around;
  bottom: 150px;
  border: 1px solid darkgray;
}

.forward {
  width: 28px;
  height: 23px;
  background: url('../fox_player_project/img/forward.svg') no-repeat center;
  background-size: contain;
}

.play {
  width: 30px;
  height: 30px;
  background: url('../fox_player_project/img/play.svg') no-repeat center;
  background-size: contain;
}

.rewind {
  width: 28px;
  height: 23px;
  background: url('../fox_player_project/img/rewind.svg') no-repeat center;
  background-size: contain;
}

.shuffle {
  width: 23px;
  height: 24px;
  background: url('../fox_player_project/img/shuffle.svg') no-repeat center;
  background-size: contain;
}

.volume {
  width: 20px;
  height: 25px;
  background: url('../fox_player_project/img/volume.svg') no-repeat center;
  background-size: contain;
}