* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: grey;
}
div {
    width: 625px;
    height: 780px;
    background-color: lightgray;
    margin: 0px auto;
   /*  padding-top: 10px; */
    text-align: left;
}
.header {
    height: 45px;
   /*  border: 10px solid rgb(255, 17, 0); */
    background-color: lightgray;
    text-align: left;
    color: rgb(93, 86, 111);
    font-size: 22px;
    margin-left: 40px;
}
h1 {  
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: white;
    text-align: left;
    background-color: rgb(147, 140, 151);
    border: 0;
    padding: 5px 10px 5px 20px;
    margin-bottom: 10px;
}

.panel1 {
    width: 40%;
    height: 350px;
    border: 1px solid rgb(255, 18, 0);
    background-color:lightgray;
    display: inline-block;   
    float: left;
    clear: both;
    margin-top: 10px;
    margin-left: 40px;
    
}
.panel2 {
    width: 40%;    
    height: 350px;
    border: 1px solid rgb(255, 18, 0);
    background-color: lightgray;
    text-align: left;
    display: inline-block;
    margin-top: 10px;
    margin-left: 25px;      
}
input[type="text"], input[type="email"],  
input[type="url"],  input[type="number"], 
select[name="house"] {
    width: 100%;
    padding: 5px 10px 5px 20px;
}
input[id="date"]{
    width:30%;
}
p{
    margin: 5px 0px 5px 0px;
    color: rgb(93, 86, 111);
    font-weight: bold;
}
input[placeholder=""]{
    text-align: left;
}
.closer {
    height: 210px;
  /*   border: 13px solid rgb(255, 18, 0); */
    background-color: lightgray;
    text-align: left;
    margin-top: 16px;

}
